::after, ::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
elemento {
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
p {
    margin: 0 0 10px;
        margin-top: 0px;
        margin-bottom: 10px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
p, dl, multicol {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
address, article, aside, blockquote, body, caption, center, col, colgroup, dd, dir, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, legend, li, listing, main, marquee, menu, nav, noframes, ol, p, plaintext, pre, section, summary, table, tbody, td, tfoot, th, thead, tr, ul, xmp {
    unicode-bidi: isolate;
}
.scrollInside {
    color: #fff;
    text-align: right;
    font-size: 1.5em;