@media (max-width:576px){
  #cardText {display:flex;
   font-size: 1.2em;
   max-width:55em;
   min-width: 20em;
   margin-top: -16em;
   margin-left: -27em;
   text-align: right;
}
}

@media (max-width: 320px){
#cardText .card{
 font-size: .9em;
    color: #ffffff;
    max-width: 30em;
    min-width: 14em;
    text-align: center;
}
.navbar{display:none;
}

.menuTwo .atwo{display:block;
  flex-direction: column;
  padding: .3em;
}
.carousel-inner{position: relative;
  background-color: black;
  float: center;
  height: 30em;

}
}
  
